table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: center;
  padding: 0px;
  height: 30px;
  border-style: ridge;
}
tr{
  border-style: ridge;
}
td { color:rgb(63, 150, 67) ;}
th {
  background-color: rgb(63, 150, 67);
  
  color: white;
}

table td input {
  display: block;
  padding: 0px;
  height: 40px;
  width: 100%;
  text-align: center; 
}

input:focus, textarea:focus, select:focus{
  outline: none;
}
body,th,td,input,select{
  font-size:29px;
}

